<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PAZZO</title>
</head>

<body style="
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
    ">
  <div style="
        margin: 0 auto;
        background-color: #4fd1c5;
        color: white;
        max-width: 600px;
        padding: 1rem;
        border-radius: 0.55rem;
        gap: 0.8rem;
        box-shadow: 0px 0px 10px grey;
        height: fit-content;
      ">
    <div style="margin: 0.8rem 0"><b> Dear {{ User }},</b></div>
    <div>Requested a Email Verification Code for Pazzo Palermo</div>
    <div style="margin-bottom: 0.8rem">
      To ensure the security of your account and complete the Registration
      process, Please verify Code which is given below.
    </div>
    <center>
      <a style="
            width: fit-content;
            padding: 0.5rem;
            color: white;
            border-radius: 0.3rem;
            margin: 0.8rem auto;
            cursor: pointer;
            text-decoration: none;
            font-size:   30px;
            font-weight: bold;
          ">
        {{verifyLink}}
      </a>
    </center>
    <div style="margin-top: 0.8rem">
      If have not requested a Email varification code, please ignore this email
    </div>
    <div style="margin-top: 0.8rem"><b>Best regards,</b></div>
    <div><b>Pazzo</b></div>
  </div>
</body>

</html>